@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Livvic";
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  background-color: #014e56;
  color: white;
}

.header ul li a {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

button {
  padding: 9px 33px 11px 32px;
  border: 2px solid #fff;
  border-radius: 24px;
  background-color: transparent;
  color: white;
  font-family: "Livvic";
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

button:hover {
  padding: 9px 33px 11px 32px;
  border: 2px solid #fff;
  border-radius: 24px;
  background-color: white;
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 73px;
  padding-bottom: 129px;
}

.left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 80px;
          column-gap: 80px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  cursor: pointer;
}

.hamb {
  display: none;
  width: 20px;
}

@media (max-width: 768px) {
  .left-header img {
    width: 128px;
  }
  .header {
    padding-bottom: 120px;
  }
}

@media (max-width: 720px) {
  .button,
  ul {
    display: none;
  }
  .hamb {
    display: block;
    position: relative;
    top: 10px;
  }
  .header {
    padding: 48px;
    padding-bottom: 80px;
  }
}

.hero-section {
  background-color: #014e56;
  color: white;
}

.hero h1 {
  max-width: 600px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-align: left;
}

.talent {
  color: #f67e7e;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  text-align: left;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right-hero {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 445px;
}

.right-hero p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

.right-hero span {
  border: none;
  height: 4px;
  width: 50px;
  background-color: #79c8c7;
  margin-bottom: 79px;
}

.hero-section {
  background-image: url("../images/hero-img1.png");
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: left top;
}

.hero {
  background-image: url("../images/hero-img2.png");
  background-repeat: no-repeat;
  background-size: 358px 100px;
  background-position: right bottom;
  padding-bottom: 276px;
}

@media (max-width: 1013px) {
  .hero-section {
    background-image: none;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero {
    background-position: bottom;
    padding-bottom: 236px;
  }
  .hero h1 {
    padding-bottom: 24px;
    max-width: 350px;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
  }
  .right-hero span {
    display: none;
  }
  .right-hero p {
    font-size: 15px;
    text-align: center;
  }
  .talent {
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
    text-align: center;
    color: #f67e7e;
  }
}

@media (max-width: 720px) {
  .hero {
    padding-bottom: 200px;
  }
  .hero h1 {
    padding-bottom: 18px;
    max-width: 230px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .talent {
    font-size: 40px;
    line-height: 40px;
    color: #f67e7e;
  }
  .right-hero p {
    text-align: center;
    max-width: 327px;
  }
}

.build {
  background-color: #012f34;
}

.build-box h2 {
  color: white;
  max-width: 445px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: left;
}

.build-span {
  background-color: #f67e7e;
  border: none;
  height: 4px;
  width: 50px;
}

.com-text {
  max-width: 445px;
}

.com-text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: #f67e7e;
}

.com-text p {
  color: white;
  opacity: 80%;
  padding-top: 16px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
}

.component-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 23px;
          column-gap: 23px;
}

.build-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 140px;
}

.build {
  background-image: url("../images/build-img.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.block {
  padding-top: 140px;
}

@media (max-width: 1007px) {
  .build-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .build-box h2 {
    padding-bottom: 64px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }
  .block {
    padding-left: 80px;
  }
  .build {
    background-position: right top;
  }
}

@media (max-width: 551px) {
  .component-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .build-box h2 {
    max-width: 240px;
    position: relative;
    left: -110px;
  }
  .block {
    padding-left: 24px;
  }
  .com-text {
    max-width: 327px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .com-text h3 {
    text-align: center;
    padding-top: 16px;
  }
  .com-text p {
    text-align: center;
  }
  .build-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .component-1 img {
    padding-top: 48px;
  }
}

.main-text h2 {
  max-width: 932px;
  padding-top: 140px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

.h2-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-text h2 a {
  color: #79c8c7;
}

.box {
  width: 350px;
  padding-top: 92px;
  background-image: url("../images/qoshtirnoq.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-position-y: 55px;
}

.box h5 {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
}

.box h6 {
  color: #79c8c7;
  padding-top: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.box p {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.box-img {
  text-align: center;
  padding-top: 32px;
}

.stories-wrapper {
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stories {
  background-image: url("../images/stories-top-img-bg.svg"), url("../images/bg-bottom-stories.svg");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

@media (max-width: 952px) {
  .stories-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 140px;
  }
  .h2-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-text h2 {
    padding-top: 0;
    padding-top: 100px;
  }
  .main-text h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
  }
}

@media (max-width: 433px) {
  .main-text h2 {
    padding-top: 100px;
  }
}

.ready {
  background-color: #f67e7e;
  color: black;
  background-image: url("../images/bg-ready-section.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.ready-iteams {
  padding-top: 76px;
  padding-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ready-btn {
  border: 2px solid black;
  color: black;
  font-family: "Livvic";
}

.ready-iteams h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: left;
}

@media (max-width: 983px) {
  .ready-iteams {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }
}

@media (max-width: 710px) {
  .ready-iteams {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 76px;
  }
  .ready-iteams h2 {
    max-width: 327px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
  }
  .div-btn {
    padding-top: 24px;
    padding-bottom: 30px;
  }
  .ready {
    background-size: 200px;
  }
}

@media (max-width: 523px) {
  .ready-iteams {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.site-footer {
  background-color: #002529;
}

.logo-text ul a {
  color: white;
}

.logo-text {
  padding-top: 25px;
}

.box-2 p {
  color: white;
  opacity: 60%;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}

.social-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.social-images {
  text-align: right;
}

.copyright {
  color: white;
  opacity: 60%;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: start;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 0;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 125px;
          column-gap: 125px;
}

@media (max-width: 798px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .f-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    left: 250px;
    text-align: center;
  }
  .social-images {
    position: relative;
    left: 70px;
    padding-bottom: 10px;
  }
}

@media (max-width: 523px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */