.build {
  background-color: #012f34;
}

.build-box h2 {
  color: white;
  max-width: 445px;
  @include textStyle(700, 48px, 48px, left);
}

.build-span {
  background-color: #f67e7e;
  border: none;
  height: 4px;
  width: 50px;
}

.com-text {
  max-width: 445px;
}

.com-text h3 {
  @include textStyle(700, 18px, 28px, left);
  color: #f67e7e;
}

.com-text p {
  color: white;
  opacity: 80%;
  padding-top: 16px;
  @include textStyle(600, 15px, 25px, left);
}

.component-1 {
  @include flexStyle(flex, center, start);
  column-gap: 23px;
}

.build-box {
  @include flexStyle(flex, start, space-between);
  padding-top: 54px;
  padding-bottom: 140px;
}

.build {
  background-image: url("../images/build-img.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.block {
  padding-top: 140px;
}

@media (max-width: 1007px) {
  .build-box {
    flex-direction: column;
    text-align: center;
  }
  .build-box h2 {
    padding-bottom: 64px;
    @include textStyle(700, 32px, 32px, left);
  }
  .block {
    padding-left: 80px;
  }
  .build {
    background-position: right top;
  }
}

@media (max-width: 551px) {
  .component-1 {
    flex-direction: column;
    text-align: center;
  }
  .build-box h2 {
    max-width: 240px;
    position: relative;
    left: -110px;
  }
  .block {
    padding-left: 24px;
  }
  .com-text {
    max-width: 327px;
    align-items: center;
  }
  .com-text h3 {
    text-align: center;
    padding-top: 16px;
  }
  .com-text p {
    text-align: center;
  }
  .build-box {
    flex-direction: column;
    align-items: center;
  }
  .component-1 img {
    padding-top: 48px;
  }
}
