.hero-section {
  background-color: #014e56;
  color: white;
}

.hero h1 {
  max-width: 600px;
  @include textStyle(700, 100px, 100px, left);
}

.talent {
  color: #f67e7e;
  @include textStyle(700, 100px, 100px, left);
}

.hero {
  @include flexStyle(flex, center, space-between);
}

.right-hero {
  flex-direction: column;
  @include flexStyle(flex, start, space-between);
  max-width: 445px;
}

.right-hero p {
  @include textStyle(600, 18px, 28px, left);
}

.right-hero span {
  border: none;
  height: 4px;
  width: 50px;
  background-color: #79c8c7;
  margin-bottom: 79px;
}

.hero-section {
  background-image: url("../images/hero-img1.png");
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: left top;
}

.hero {
  background-image: url("../images/hero-img2.png");
  background-repeat: no-repeat;
  background-size: 358px 100px;
  background-position: right bottom;
  padding-bottom: 276px;
}

@media (max-width: 1013px) {
  .hero-section {
    background-image: none;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
  }
  .hero {
    background-position: bottom;
    padding-bottom: 236px;
  }
  .hero h1 {
    padding-bottom: 24px;
    max-width: 350px;
    @include textStyle(700, 64px, 56px, center);
  }
  .right-hero span {
    display: none;
  }
  .right-hero p {
    font-size: 15px;
    text-align: center;
  }
  .talent {
    @include textStyle(700, 64px, 56px, center);
    color: #f67e7e;
  }
}

@media (max-width: 720px) {
  .hero {
    padding-bottom: 200px;
  }
  .hero h1 {
    padding-bottom: 18px;
    max-width: 230px;
    @include textStyle(700, 40px, 40px, center);
  }
  .talent {
    font-size: 40px;
    line-height: 40px;
    color: #f67e7e;
  }
  .right-hero p {
    text-align: center;
    max-width: 327px;
  }
}
